.table {
    margin: 10px;
    display: grid;
    justify-content: center;
}

.row {
    display: flex;
}

.cell {
    background: #8787ea;
    width: 200px;
    height: 200px;
    margin: 10px;
}

.active {
    background: #ea6161;
}
